<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<type language="gradle" name="org.gradle.api.plugins.quality.Checkstyle" version="3.0" superType="org.gradle.api.tasks.SourceTask" documented="true">
    <description> Runs Checkstyle against some source files.

</description>
    <method name="getAntBuilder" returnType="org.gradle.api.internal.project.IsolatedAntBuilder"/>
    <method name="getCheckstyleClasspath" returnType="org.gradle.api.file.FileCollection">
        <description> The class path containing the Checkstyle library to be used.

</description>
    </method>
    <method name="getClasspath" returnType="org.gradle.api.file.FileCollection">
        <description> The class path containing the compiled classes for the source files to be analyzed.

</description>
    </method>
    <method name="getConfig" returnType="org.gradle.api.resources.TextResource">
        <description> The Checkstyle configuration to use. Replaces the &lt;a href='type://configFile'&gt;configFile&lt;/a&gt; property.

 @since 2.2

</description>
    </method>
    <method name="getConfigFile" returnType="java.io.File">
        <description> The Checkstyle configuration file to use.

</description>
    </method>
    <method name="getConfigProperties" returnType="java.util.Map">
        <description> The properties available for use in the configuration file. These are substituted into the configuration file.

</description>
    </method>
    <method name="getIgnoreFailures" returnType="boolean">
        <description> Whether or not this task will ignore failures and continue running the build.

 &lt;br&gt;&lt;br&gt;&lt;b class='return'&gt;returns:&lt;/b&gt;true if failures should be ignored

</description>
    </method>
    <method name="getInstantiator" returnType="org.gradle.internal.reflect.Instantiator"/>
    <method name="getReports" returnType="org.gradle.api.plugins.quality.CheckstyleReports">
        <description> The reports to be generated by this task.

</description>
    </method>
    <method name="isIgnoreFailures" returnType="boolean">
        <description> Whether or not this task will ignore failures and continue running the build.

 &lt;br&gt;&lt;br&gt;&lt;b class='return'&gt;returns:&lt;/b&gt;true if failures should be ignored

</description>
    </method>
    <method name="isShowViolations" returnType="boolean">
        <description> Whether or not rule violations are to be displayed on the console.

 &lt;br&gt;&lt;br&gt;&lt;b class='return'&gt;returns:&lt;/b&gt;true if violations should be displayed on console

</description>
    </method>
    <method name="reports" returnType="org.gradle.api.plugins.quality.CheckstyleReports" delegationTarget="org.gradle.api.plugins.quality.CheckstyleReports" documented="true">
        <description> Configures the reports to be generated by this task.

 The contained reports can be configured by name and closures. Example:

 &lt;pre&gt;
 checkstyleTask {
   reports {
     html {
       destination "build/codenarc.html"
     }
   }
 }
 &lt;/pre&gt;

 &lt;br&gt;&lt;b class='param'&gt;param:&lt;/b&gt;closure The configuration
 &lt;br&gt;&lt;br&gt;&lt;b class='return'&gt;returns:&lt;/b&gt;The reports container

</description>
        <parameter type="groovy.lang.Closure" name="closure"/>
    </method>
    <method name="reports" returnType="org.gradle.api.plugins.quality.CheckstyleReports" documented="true">
        <description> Configures the reports to be generated by this task.

 The contained reports can be configured by name and closures. Example:

 &lt;pre&gt;
 checkstyleTask {
   reports {
     html {
       destination "build/codenarc.html"
     }
   }
 }
 &lt;/pre&gt;

 @since 3.0
 &lt;br&gt;&lt;b class='param'&gt;param:&lt;/b&gt;configureAction The configuration
 &lt;br&gt;&lt;br&gt;&lt;b class='return'&gt;returns:&lt;/b&gt;The reports container

</description>
        <parameter type="org.gradle.api.Action" name="configureAction"/>
    </method>
    <method name="run" returnType="void"/>
    <method name="setCheckstyleClasspath" returnType="void">
        <parameter type="org.gradle.api.file.FileCollection" name="checkstyleClasspath"/>
    </method>
    <method name="setClasspath" returnType="void">
        <parameter type="org.gradle.api.file.FileCollection" name="classpath"/>
    </method>
    <method name="setConfig" returnType="void">
        <parameter type="org.gradle.api.resources.TextResource" name="config"/>
    </method>
    <method name="setConfigFile" returnType="void">
        <description> The Checkstyle configuration file to use.

</description>
        <parameter type="java.io.File" name="configFile"/>
    </method>
    <method name="setConfigProperties" returnType="void">
        <parameter type="java.util.Map" name="configProperties"/>
    </method>
    <method name="setIgnoreFailures" returnType="void">
        <parameter type="boolean" name="ignoreFailures"/>
    </method>
    <method name="setShowViolations" returnType="void">
        <parameter type="boolean" name="showViolations"/>
    </method>
    <interface name="org.gradle.api.reporting.Reporting"/>
    <interface name="org.gradle.api.tasks.VerificationTask"/>
    <property name="antBuilder" type="org.gradle.api.internal.project.IsolatedAntBuilder"/>
    <property name="checkstyleClasspath" type="org.gradle.api.file.FileCollection" documented="true">
        <description> The class path containing the Checkstyle library to be used.

</description>
    </property>
    <property name="classpath" type="org.gradle.api.file.FileCollection" documented="true">
        <description> The class path containing the compiled classes for the source files to be analyzed.

</description>
    </property>
    <property name="config" type="org.gradle.api.resources.TextResource" documented="true">
        <description> The Checkstyle configuration to use. Replaces the &lt;a href='type://configFile'&gt;configFile&lt;/a&gt; property.

 @since 2.2

</description>
    </property>
    <property name="configFile" type="java.io.File" documented="true">
        <description> The Checkstyle configuration file to use.

</description>
    </property>
    <property name="configProperties" type="java.util.Map" documented="true">
        <description> The properties available for use in the configuration file. These are substituted into the configuration file.

</description>
    </property>
    <property name="ignoreFailures" type="boolean" documented="true">
        <description> Whether or not this task will ignore failures and continue running the build.

 &lt;br&gt;&lt;br&gt;&lt;b class='return'&gt;returns:&lt;/b&gt;true if failures should be ignored

</description>
    </property>
    <property name="instantiator" type="org.gradle.internal.reflect.Instantiator"/>
    <property name="reports" type="org.gradle.api.plugins.quality.CheckstyleReports" documented="true">
        <description> The reports to be generated by this task.

</description>
    </property>
    <property name="showViolations" type="boolean" documented="true">
        <description> Whether or not rule violations are to be displayed on the console.

 &lt;br&gt;&lt;br&gt;&lt;b class='return'&gt;returns:&lt;/b&gt;true if violations should be displayed on console

</description>
    </property>
</type>
