<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          DECORATION                                  -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.decorators">
     <decorator
            lightweight="true"
            adaptable="true"
            label="Egradle project decorator"
            class="de.jcup.egradle.eclipse.decorators.EGradleProjectDecorator"
            state="true"
            location="BOTTOM_LEFT"
            id="de.jcup.egradle.eclipse.decorators.EGradleProjectDecorator">
            <enablement>
              <objectClass name="org.eclipse.core.resources.IProject"/>
            </enablement>
         <description>
           	Decorator for all projects in subfolders of root project
         </description>
      </decorator>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          EDITOR                                      -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="EGradle Editor"
            extensions="gradle"
            icon="icons/gradle-og.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.egradle.eclipse.editors.GradleEditor"
            id="egradle.editors.GradleEditor">
      </editor>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          COMMANDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="EGradle"
            id="egradle.commands.category"
            name="EGradle">
      </category>
      <command
            name="Refresh all eclipse dependencies command"
            categoryId="egradle.commands.category"
            id="egradle.commands.refreshEclipse">
      </command>
      <command
            id="egradle.commands.launch"
            name="EGradle Launch">
         <commandParameter
               id="egradle.command.launch.config"
               name="launchConfig"
               optional="true">
            <values
                  class="de.jcup.egradle.eclipse.launch.LaunchParameterValues">
            </values>
         </commandParameter>
      </command>
      <command
            name="Create or update virtual root project"
            categoryId="egradle.commands.category"
            id="egradle.commands.updateOrCreateVirtualRootProject">
      </command>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HANDLER                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="egradle.commands.refreshEclipse"
            class="de.jcup.egradle.eclipse.handlers.RefreshAllEclipseDependenciesHandler">
      </handler>
      <handler
            class="de.jcup.egradle.eclipse.handlers.LaunchGradleCommandHandler"
            commandId="egradle.commands.launch">
      </handler>
      <handler
            class="de.jcup.egradle.eclipse.handlers.UpdateOrCreateVirtualRootProjectHandler"
            commandId="egradle.commands.updateOrCreateVirtualRootProject">
      </handler>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEY BINDINGS                                -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="egradle.commands.refreshEclipse"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          TOOLBAR                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="egradle.toolbars.mainToolbar"
               label="EGradle Toolbar">
            <command
                  commandId="egradle.commands.refreshEclipse"
                  icon="icons/refreshAllEclipseDependencies.gif"
                  id="egradle.toolbars.refreshEclipseCommand"
                  label="Refresh"
                  tooltip="Refresh all eclipse dependencies of current root project">
            </command>
            <command
                  commandId="egradle.commands.updateOrCreateVirtualRootProject"
                  icon="icons/updateOrCreateVirtualRootProject.gif"
                  id="egradle.toolbars.updateOrCreateVirtualRootProject"
                  label="Update or create virtual root project"
                  tooltip="Update or create virtual root project">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HELP                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="EGradleToc.xml"
            primary="true">
      </toc>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Gradle File Import"
            id="egradle.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import Gradle Multiproject"
            icon="icons/sample.gif"
            category="egradle.importWizards.sampleCategory"
            class="de.jcup.egradle.eclipse.importWizards.ImportWizard"
            id="egradle.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   -->
    <!--
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="egradle.contribution1">
         <menu
               icon="icons/gradle-og.gif"
               id="egradle.menu1"
               label="Gradle"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="My gradle action(TBD)"
               class="de.jcup.egradle.eclipse.popup.actions.EGradleAction"
               menubarPath="egradle.menu1/group1"
               enablesFor="1"
               id="egradle.newAction">
         </action>
      </objectContribution>
   </extension>
    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="EGradle"
            class="de.jcup.egradle.eclipse.preferences.EGradlePreferencePage"
            id="egradle.preferences.EGradlePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.egradle.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONSOLE                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!-- http://stackoverflow.com/questions/29783017/add-custom-console-to-eclipse-console-list -->
   <extension point="org.eclipse.ui.console.consoleFactories">
	   <consoleFactory
	         class="de.jcup.egradle.eclipse.console.EGradleSystemConsoleFactory"
	         icon="icons/gradle-og.gif"
	         label="EGradle system console">
	   </consoleFactory>
   </extension>
  <extension point="org.eclipse.ui.console.consolePageParticipants">
	<consolePageParticipant class="de.jcup.egradle.eclipse.console.EGradleConsolePageParticipant" id="de.jcup.egradle.eclipse.console.AnsiConsolePageParticipant">
		<enablement>
			<instanceof value="org.eclipse.ui.console.IConsole" />
		</enablement>
	</consolePageParticipant>
  </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          LAUNCHING                                   -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!-- http://scg.unibe.ch/archive/projects/Bals10b-EclipsePlugins.pdf -->
   
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="de.jcup.egradle.eclipse.launch.EGradleLaunchDelegate"
        delegateDescription="Launches the gradle project by given arguments"
        id="de.jcup.egradle.launchConfigurationType"
        modes="run"
        name="EGradle"
        public="true"
        
        >
       </launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup 
			class="de.jcup.egradle.eclipse.launch.EGradleLaunchConfigurationTabGroup"
			description="Define your launch configurations for EGradle"
			id="de.jcup.egradle.launchConfigurationTabGroup"
			type="de.jcup.egradle.launchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
	<!-- launch image -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	  <launchConfigurationTypeImage
	     id="com.example.FirstLaunchConfigurationTypeImage"
	     configTypeID="de.jcup.egradle.launchConfigurationType"
	     icon="icons/gradle-og.gif">
	  </launchConfigurationTypeImage>
 	</extension>
 	<!-- launch shortcuts for Run...as ... -->
 	<extension point="org.eclipse.debug.ui.launchShortcuts">
    	<shortcut
        id="de.jcup.egradle.eGradleLaunchShortcut"
        class="de.jcup.egradle.eclipse.launch.EGradleLaunchShortCut"
        label="EGradle"
        icon="icons/gradle-og.gif"
        modes="run">
            <contextualLaunch>
            <enablement>
                <with
                    variable="selection">
                    <count
                        value="+">
                    </count>
                </with>
            </enablement>
        </contextualLaunch>
            
    	</shortcut>
	</extension>
	<!-- Launch group-->
	<extension point = "org.eclipse.debug.ui.launchGroups">
		<launchGroup
			id = "de.jcup.egradle.launchGroup"
			mode = "run"
			label = "EGradle"
			image = "icons/gradle-og.gif"
			bannerImage = "icons/gradle-banner-image.png">
		</launchGroup>
		
	</extension>
	
</plugin>
