<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEYWORDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.keywords">
     <keyword
   		id="egradle.preferences.keyword.egradle"
   		label="egradle">
     </keyword>
      <keyword
   		id="egradle.preferences.keyword.gradle"
   		label="gradle">
     </keyword>
       <keyword
   		id="egradle.preferences.keyword.import"
   		label="import">
     </keyword>
   </extension>
   
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HELP                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="EGradleToc.xml"
            primary="true">
      </toc>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="EGradle"
            class="de.jcup.egradle.eclipse.preferences.EGradlePreferencePage"
            id="egradle.preferences.EGradlePreferencePage">
            <keywordReference
                  id="egradle.preferences.keyword.egradle">
            </keywordReference>
             <keywordReference
               id="egradle.preferences.keyword.gradle">
         	</keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.egradle.eclipse.preferences.EGradlePreferenceInitializer">
      </initializer>
   </extension>
	
   	
	
</plugin>
