<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Import JUnit-Testresults"
            categoryId="egradle.commands.category"
            id="de.jcup.egradle.eclipse.junit.contribution.commands.importTestResultCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.jcup.egradle.eclipse.junit.contribution.commands.importTestResultCommand"
            class="de.jcup.egradle.eclipse.junit.contribution.handlers.ImportGradleJunitResultsHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.jcup.egradle.eclipse.junit.contribution.commands.importTestResultCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:egradle.toolbars.mainToolbar?after=egradle.toolbars.refreshEclipseCommand">
         <command
               commandId="de.jcup.egradle.eclipse.junit.contribution.commands.importTestResultCommand"
               icon="icons/importGradleTestsToEclipseView.gif"
               id="egradle.toolbars.importTestResultCommand"
               tooltip="Import gradle test results to junit view">
         </command>
      </menuContribution>
   </extension>

</plugin>
