<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEYWORDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.keywords">
     <keyword
   		id="egradle.preferences.keyword.egradle"
   		label="egradle">
     </keyword>
      <keyword
   		id="egradle.preferences.keyword.gradle"
   		label="gradle">
     </keyword>
       <keyword
   		id="egradle.preferences.keyword.import"
   		label="import">
     </keyword>
   </extension>

   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.egradle.script.problem"
    	point="org.eclipse.core.resources.markers"
    	name="Gradle build script problem">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="false"/>
    </extension>

   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          BUILDER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->    
   <extension
         id="virtualRootProjectBuilder"
         name="Virtual Root Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run
               class="de.jcup.egradle.eclipse.ide.virtualroot.VirtualRootNewFilesToRealRootProjectBuilder">
         </run>
      </builder>
   </extension>

   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          NATURE                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         id="de.jcup.egradle.eclipse.virtualRootProjectNature"
         name="Virtual root project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.jcup.egradle.eclipse.ide.virtualroot.VirtualRootProjectNature">
         </run>
      </runtime>
      <builder
            id="de.jcup.egradle.eclipse.plugin.ide.virtualRootProjectBuilder">
      </builder>
   </extension>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
	  <image
	    id="de.jcup.egradle.eclipse.virtualroot.VirtualRootProjectNatureImage"
	    natureId="de.jcup.egradle.eclipse.virtualRootProjectNature"
	    icon="icons/virtualRootProjectNature.png">
	  </image>
	 </extension>
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PROPERTY TESTERS                            -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
  	  <!-- see https://wiki.eclipse.org/Platform_Expression_Framework -->
  	  <!-- see http://help.eclipse.org/neon/index.jsp?topic=/org.eclipse.platform.doc.isv/guide/workbench_cmd_expressions.htm -->
  	  <!-- see http://www.robertwloch.net/2011/01/eclipse-tips-tricks-property-testers-with-command-core-expressions/ -->
      <propertyTester
          class="de.jcup.egradle.eclipse.ide.EGradlePropertyTester"
          id="de.jcup.egradle.eclipse.EGradlePropertyTester"
          namespace="de.jcup.egradle"
          properties="isProjectPartOfRootProject"
          type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>

   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          DECORATION                                  -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.decorators">
     <decorator
            lightweight="true"
            adaptable="true"
            label="EGradle project decorator"
            class="de.jcup.egradle.eclipse.ide.decorators.EGradleProjectDecorator"
            state="true"
            location="BOTTOM_LEFT"
            id="de.jcup.egradle.eclipse.ide.decorators.EGradleProjectDecorator">
            <enablement>
              <objectClass name="org.eclipse.core.resources.IProject"/>
            </enablement>
         <description>
           	Decorator for all projects in subfolders of root project
         </description>
      </decorator>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          COMMANDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.commands">
      <command 
         	id="egradle.commands.newGradleProject"
          	name="Refresh all eclipse dependencies"
         	categoryId="egradle.commands.category">
         </command>
      <command
            name="Refresh all eclipse dependencies"
            categoryId="egradle.commands.category"
            id="egradle.commands.refreshEclipse">
      </command>
      <command
            id="egradle.commands.launch"
            name="EGradle Launch">
         <commandParameter
               id="egradle.command.launch.config"
               name="launchConfig"
               optional="true">
            <values
                  class="de.jcup.egradle.eclipse.ide.launch.LaunchParameterValues">
            </values>
         </commandParameter>
      </command>
      <command
            name="Create or update virtual root project"
            categoryId="egradle.commands.category"
            id="egradle.commands.updateOrCreateVirtualRootProject">
      </command>
      <command 
      		name="Reimport project(s)"
      		categoryId="egradle.commands.category"
      		id="egradle.commands.reimportGradleProject"
      		>
      </command>
      <command
            name="Quick gradle task execution"
            categoryId="egradle.commands.category"
            id="egradle.commands.quickTaskExecution">
      </command>
      <command
      		 name="Detect new root project"
            categoryId="egradle.commands.category"
      		id="egradle.commands.detectNewRootProject"
      >
      </command>
      <command
      		 name="Show dependencies"
            categoryId="egradle.commands.category"
      		id="egradle.commands.showDependenciesForProject"
      >
      </command>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HANDLER                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.handlers">
         
      <handler
            commandId="egradle.commands.newGradleProject"
            class="de.jcup.egradle.eclipse.ide.handlers.NewGradleProjectHandler">
      </handler>
      <handler
            commandId="egradle.commands.refreshEclipse"
            class="de.jcup.egradle.eclipse.ide.handlers.RefreshAllEclipseDependenciesHandler">
      </handler>
      <handler
            class="de.jcup.egradle.eclipse.ide.handlers.LaunchGradleCommandHandler"
            commandId="egradle.commands.launch">
      </handler>
      <handler
            class="de.jcup.egradle.eclipse.ide.handlers.UpdateOrCreateVirtualRootProjectHandler"
            commandId="egradle.commands.updateOrCreateVirtualRootProject">
      </handler>
       <handler
            class="de.jcup.egradle.eclipse.ide.handlers.QuickTaskExecutionHandler"
            commandId="egradle.commands.quickTaskExecution">
      </handler>
      <handler
            commandId="egradle.commands.detectNewRootProject"
            class="de.jcup.egradle.eclipse.ide.handlers.DetectNewRootProjectHandler">
      </handler>
      <handler
      		commandId="egradle.commands.reimportGradleProject"
      		class="de.jcup.egradle.eclipse.ide.handlers.ReimportGradleProjectHandler">
      </handler>
      <handler
            commandId="egradle.commands.showDependenciesForProject"
            class="de.jcup.egradle.eclipse.ide.handlers.ShowDependenciesOfSelectecProjectHandler">
      </handler>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEY BINDINGS                                -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="egradle.commands.quickTaskExecution"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+M3+END"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          TOOLBAR                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="egradle.toolbars.mainToolbar"
               label="EGradle Toolbar">
            <command
            	  commandId="egradle.commands.newGradleProject"
                  icon="icons/create_gradle_project.png"
                  id="egradle.toolbars.createGradleProject"
                  label="Create new gradle project"
                  tooltip="Createa new gradle project.">
            </command>
            <command
            	  commandId="egradle.commands.quickTaskExecution"
                  icon="icons/quickTaskExecution.png"
                  id="egradle.toolbars.quickTaskExecution"
                  label="EGradle quick launch"
                  tooltip="Directly execute gradle tasks by EGradle quick launch dialog.">
            </command>
            <command
                  commandId="egradle.commands.refreshEclipse"
                  icon="icons/refreshAllEclipseDependencies.png"
                  id="egradle.toolbars.refreshEclipseCommand"
                  label="Refresh"
                  tooltip="Refresh all eclipse dependencies of current root project">
            </command>
            <command
                  commandId="egradle.commands.updateOrCreateVirtualRootProject"
                  icon="icons/updateOrCreateVirtualRootProject.png"
                  id="egradle.toolbars.updateOrCreateVirtualRootProject"
                  label="Update or create virtual root project"
                  tooltip="Update or create virtual root project">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          WIZARDS                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="EGradle"
            id="egradle.wizards.category">
      </category>
      <wizard
            name="Import gradle root project with all subprojects"
            icon="icons/import_egradle.png"
            category="egradle.wizards.category"
            class="de.jcup.egradle.eclipse.ide.wizards.EGradleRootProjectImportWizard"
            id="de.jcup.egradle.eclipse.importWizards.EGradleRootProjectImportWizard">
         <description>
            Import gradle root project with all sub projects
         </description>
      </wizard>
   </extension>
   <extension
       point="org.eclipse.ui.newWizards">
      <category
            name="EGradle"
            id="egradle.wizards.category">
      </category>
      <wizard
            name="Gradle Project"
            project="true"
            icon="icons/create_gradle_project.png"
            category="egradle.wizards.category"
            class="de.jcup.egradle.eclipse.ide.wizards.EGradleNewProjectWizard"
            id="de.jcup.egradle.eclipse.ide.wizards.EGradleNewProjectWizard">
         <description>
            Create a new gradle project
         </description>
      </wizard>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--        POPUP                                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   
    <extension point="org.eclipse.ui.menus">
        <!-- http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_cmd_menus.htm -->
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
                <!-- Detect new root project -->
                <command commandId="egradle.commands.detectNewRootProject"
                        label="Change EGradle root project" 
                        tooltip="Tries to detect new EGradle root project folder by this resource. Will change preferences to new root project and automatically connect an existing virtual root project to new root folder"
                        icon="icons/detectNewRootProject.png"
                        style="push">
                        <visibleWhen 
                              checkEnabled="false">
                              <with
                                    variable="activeMenuSelection">
                                    <and>
				         				<count value="1"/>
	                                    <iterate ifEmpty="false">
	                                    	 <adapt type="org.eclipse.core.resources.IResource">
			         							<test property="de.jcup.egradle.isProjectPartOfRootProject" value="false"/>
				         					</adapt>
				         				</iterate>
                                    </and>
                              </with>
                        </visibleWhen>
                </command>
                
                <menu
                      icon="icons/gradle-og.png"
                      id="egradle.popup.any"
                      label="EGradle">
                   <command
                         commandId="egradle.commands.showDependenciesForProject"
                         icon="icons/showDependencies.png"
                         label="Show dependencies"
                         style="push"
                         tooltip="Shows dependencies of selected project">
                      <visibleWhen
                            checkEnabled="false">
                         <with
                               variable="activeMenuSelection">
                            <and>
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     ifEmpty="false">
                                  <adapt
                                        type="org.eclipse.core.resources.IProject">
                                     <test
                                           property="de.jcup.egradle.isProjectPartOfRootProject"
                                           value="true">
                                     </test>
                                  </adapt>
                               </iterate>
                            </and>
                         </with>
                      </visibleWhen>
                   </command>
                   <command
                         commandId="egradle.commands.updateOrCreateVirtualRootProject"
                         icon="icons/updateOrCreateVirtualRootProject.png"
                         label="Recreate Virtual Root Project"
                         style="push"
                         tooltip="Recreates the complete virtual root project">
                      <visibleWhen
                            checkEnabled="false">
                         <with
                               variable="activeMenuSelection">
                            <iterate
                                  ifEmpty="false">
                               <adapt
                                     type="org.eclipse.core.resources.IProject">
                                  <test
                                        property="org.eclipse.core.resources.projectNature"
                                        value="de.jcup.egradle.eclipse.virtualRootProjectNature">
                                  </test>
                               </adapt>
                            </iterate>
                         </with>
                      </visibleWhen>
                   </command>
                   <command
                         commandId="egradle.commands.reimportGradleProject"
                         icon="icons/import_egradle.png"
                         label="Reimport project(s)"
                         style="push"
                         tooltip="Does open the import wizard to execute a full reimport of current project. Interesting when switching between branches where sub projects added/removed etc.">
                      <visibleWhen
                            checkEnabled="false">
                         <with
                               variable="activeMenuSelection">
                            <and>
                               <iterate
                                     ifEmpty="false">
                                  <adapt
                                        type="org.eclipse.core.resources.IResource">
                                     <test
                                           property="de.jcup.egradle.isProjectPartOfRootProject"
                                           value="true">
                                     </test>
                                  </adapt>
                               </iterate>
                            </and>
                         </with>
                      </visibleWhen>
                   </command>
                    <command
                         commandId=" egradle.commands.quickTaskExecution"
                         icon="icons/quickTaskExecution.png"
                         label="Quick launch"
                  		 tooltip="Directly execute gradle tasks."
                         style="push"
                         >
                      <visibleWhen
                            checkEnabled="false">
                         <with
                               variable="activeMenuSelection">
                            <and>
                               <iterate
                                     ifEmpty="false">
                                  <adapt
                                        type="org.eclipse.core.resources.IResource">
                                     <test
                                           property="de.jcup.egradle.isProjectPartOfRootProject"
                                           value="true">
                                     </test>
                                  </adapt>
                               </iterate>
                            </and>
                         </with>
                      </visibleWhen>
                   </command>
                   <command
                         commandId="egradle.commands.refreshEclipse"
                         icon="icons/refreshAllEclipseDependencies.png"
                         label="Refresh eclipse dependencies"
                         style="push"
                         tooltip="Refreshes all eclipse dependencies">
                      <visibleWhen
                            checkEnabled="false">
                         <with
                               variable="activeMenuSelection">
                            <iterate
                                  ifEmpty="false">
                               <adapt
                                     type="org.eclipse.core.resources.IProject">
                                  <test
                                        property="org.eclipse.core.resources.projectNature"
                                        value="de.jcup.egradle.eclipse.virtualRootProjectNature">
                                  </test>
                               </adapt>
                            </iterate>
                         </with>
                      </visibleWhen>
                   </command>
                </menu>
                
        </menuContribution>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="egradle.preferences.EGradlePreferencePage"
            class="de.jcup.egradle.eclipse.ide.preferences.EGradleSetupGradlePreferencePage"
            id="egradle.preferences.EGradleSetupGradlePreferencePage"
            name="Gradle Setup">
            <keywordReference
                  id="egradle.preferences.keyword.egradle">
            </keywordReference>
             <keywordReference
               id="egradle.preferences.keyword.gradle">
         	</keywordReference>
      </page>
      <page
         id="de.jcup.egradle.eclipse.preferences.EGradleValidationPreferencePage"
         class="de.jcup.egradle.eclipse.ide.preferences.EGradleValidationPreferencePage"
         name="Validation"
         category="egradle.preferences.EGradlePreferencePage">
         <keywordReference
               id="egradle.preferences.keyword.egradle">
         </keywordReference>
          <keywordReference
               id="egradle.preferences.keyword.gradle">
         </keywordReference>
      </page>
      <page
         id="de.jcup.egradle.eclipse.preferences.EGradleDecorationPreferencePage"
         class="de.jcup.egradle.eclipse.ide.preferences.EGradleDecorationPreferencePage"
         name="Decoration"
         category="egradle.preferences.EGradlePreferencePage">
         <keywordReference
               id="egradle.preferences.keyword.egradle">
         </keywordReference>
          <keywordReference
               id="egradle.preferences.keyword.gradle">
         </keywordReference>
      </page>
       <page
         id="de.jcup.egradle.eclipse.preferences.EGradleFileHandlingPreferencePage"
         class="de.jcup.egradle.eclipse.ide.preferences.EGradleFileHandlingPreferencePage"
         name="File handling"
         category="egradle.preferences.EGradlePreferencePage">
         <keywordReference
               id="egradle.preferences.keyword.egradle">
         </keywordReference>
          <keywordReference
               id="egradle.preferences.keyword.gradle">
         </keywordReference>
      </page>
      <page
         id="de.jcup.egradle.eclipse.preferences.EGradleImporterPreferencePage"
         class="de.jcup.egradle.eclipse.ide.preferences.EGradleImporterPreferencePage"
         name="Import"
         category="egradle.preferences.EGradlePreferencePage">
         <keywordReference
               id="egradle.preferences.keyword.egradle">
         </keywordReference>
          <keywordReference
               id="egradle.preferences.keyword.gradle">
         </keywordReference>
         <keywordReference
               id="egradle.preferences.keyword.import">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.egradle.eclipse.ide.preferences.EGradleIdePreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONSOLE                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!-- http://stackoverflow.com/questions/29783017/add-custom-console-to-eclipse-console-list -->
   <extension point="org.eclipse.ui.console.consoleFactories">
	   <consoleFactory
	         class="de.jcup.egradle.eclipse.ide.console.EGradleSystemConsoleFactory"
	         icon="icons/gradle-og.png"
	         label="EGradle System Console">
	   </consoleFactory>
   </extension>
  <extension point="org.eclipse.ui.console.consolePageParticipants">
	<consolePageParticipant class="de.jcup.egradle.eclipse.ide.console.EGradleConsolePageParticipant" id="de.jcup.egradle.eclipse.console.AnsiConsolePageParticipant">
		<enablement>
			<instanceof value="org.eclipse.ui.console.IConsole" />
		</enablement>
	</consolePageParticipant>
  </extension>
  <extension point="org.eclipse.debug.ui.consoleLineTrackers">
	   <consoleLineTracker 
	      id="de.jcup.egradle.EGradleConnsoleLineTracker"
	      class="de.jcup.egradle.eclipse.ide.console.EGradleConsoleLineTracker"
	      processType="EGradleRuntimeProcess">
	   </consoleLineTracker>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          LAUNCHING                                   -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!-- http://scg.unibe.ch/archive/projects/Bals10b-EclipsePlugins.pdf -->
   
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="de.jcup.egradle.eclipse.ide.launch.EGradleLaunchDelegate"
        delegateDescription="Launches the gradle project by given arguments"
        id="de.jcup.egradle.launchConfigurationType"
        modes="run"
        name="EGradle"
        public="true" >
       </launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup 
			class="de.jcup.egradle.eclipse.ide.launch.EGradleLaunchConfigurationTabGroup"
			description="Define your launch configurations for EGradle"
			id="de.jcup.egradle.launchConfigurationTabGroup"
			type="de.jcup.egradle.launchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	  <launchConfigurationTypeImage
	     id="de.jcup.egradle.launchConfigurationTypeImage"
	     configTypeID="de.jcup.egradle.launchConfigurationType"
	     icon="icons/gradle-og.png">
	  </launchConfigurationTypeImage>
 	</extension>
 	<!-- launch shortcuts for Run...as ... -->
 	<extension point="org.eclipse.debug.ui.launchShortcuts">
    	<shortcut
        id="de.jcup.egradle.eGradleLaunchShortcut"
        class="de.jcup.egradle.eclipse.ide.launch.EGradleLaunchShortCut"
        label="EGradle"
        icon="icons/gradle-og.png"
        modes="run">
            <contextualLaunch>
            
            <enablement>
	            <with variable="selection">
			        <count value="1"/>
			        <iterate ifEmpty="false">
			        <or>
			        		<!-- we allow all projects to be executed as gradle -->
				            <adapt type="org.eclipse.core.resources.IProject"/>
				            <!-- we only allow files with name build.gradle to be executed as gradle -->
				        	<adapt type="org.eclipse.core.resources.IFile">
				                	<test property="org.eclipse.core.resources.name"
				                         value="build.gradle"/>
				            </adapt>
				     </or>
			        </iterate>
			    </with>
            </enablement>
        </contextualLaunch>
            
    	</shortcut>
	</extension>
	<!-- Launch group-->
	<extension point = "org.eclipse.debug.ui.launchGroups">
		<launchGroup
			id = "de.jcup.egradle.launchGroup"
			mode = "run"
			label = "EGradle"
			image = "icons/gradle-og.png"
			bannerImage = "icons/egradle-banner_64x64.png">
		</launchGroup>
		
	</extension>
 <extension
       point="de.jcup.egradle.eclipse.extension.variableprovider">
    <provider
          class="de.jcup.egradle.eclipse.ide.EGradleIdeVariableProvider">
    </provider>
 </extension>

</plugin>
