<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          EDITOR                                      -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="EGradle Editor"
            extensions="gradle"
            icon="icons/gradle-og.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.egradle.eclipse.gradleeditor.GradleEditor"
            id="egradle.editors.GradleEditor">
      </editor>
   </extension>
    <extension
      point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
        id="de.jcup.egradle.eclipse.gradleeditor.applyfromhyperlinktarget"
        name="Gradle Editor">
        <context type="de.jcup.egradle.eclipse.gradleeditor.GradleEditor"/>
      </target>
    </extension>
   
   <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector            
            class="de.jcup.egradle.eclipse.gradleeditor.ApplyFromlHyperlinkDetector"
            id="de.jcup.egradle.eclipse.editors.EGradleEditorApplyFromlHyperlinkDetector"
            name="Gradle editor Apply from hyperlink detector"
            targetId="de.jcup.egradle.eclipse.gradleeditor.applyfromhyperlinktarget">
      </hyperlinkDetector>
    </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="egradle.eclipse.gradleeditor.preferences.EGradleEditorPreferencePage"
         class="de.jcup.egradle.eclipse.gradleeditor.preferences.EGradleEditorPreferencePage"
         name="Editor"
         category="egradle.preferences.EGradlePreferencePage">
      </page>
   </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.egradle.eclipse.gradleeditor.preferences.EGradleEditorPreferenceInitializer">
      </initializer>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.egradle.parse.error"
    	point="org.eclipse.core.resources.markers"
    	name="EGradle parse error">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
</plugin>
